ACTION=="add" \
, SUBSYSTEM=="usb" \
, ATTR{idProduct}=="6001" \
, ATTR{idVendor}=="04e8" \
, ATTR{serial}=="sdwire-18" \
, MODE="0666" \
, SYMLINK+="sdwire0"

ACTION=="add" \
, SUBSYSTEM=="usb" \
, ATTR{idProduct}=="6001" \
, ATTR{idVendor}=="04e8" \
, ATTR{serial}=="sdwire-7" \
, MODE="0666" \
, SYMLINK+="sdwire1"
