ACTION=="add" \
, ATTR{removable}=="1"
, KERNEL=="sd*" \
, SUBSYSTEM=="block" \
, KERNELS=="4-10.4.3.1" \
, SYMLINK+="sdcard0" \
, MODE="0666"

ACTION=="add" \
, ATTR{removable}=="1"
, KERNEL=="sd*" \
, SUBSYSTEM=="block" \
, KERNELS=="4-10.4.1.1" \
, SYMLINK+="sdcard1" \
, MODE="0666"

ACTION=="add" \
, ATTR{removable}=="1"
, KERNEL=="sd*" \
, SUBSYSTEM=="block" \
, KERNELS=="6-2.4.2.1" \
, SYMLINK+="sdcard2" \
, MODE="0666"

ACTION=="add" \
, ATTR{removable}=="1"
, KERNEL=="sd*" \
, SUBSYSTEM=="block" \
, KERNELS=="6-2.4.3.1" \
, SYMLINK+="sdcard3" \
, MODE="0666"
