ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="1-5.2.4" \
, MODE="0666" \
, SYMLINK+="ttyusb_port1"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="1-5.3.1" \
, MODE="0666" \
, SYMLINK+="ttyusb_port2"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="1-5.3.2" \
, MODE="0666" \
, SYMLINK+="ttyusb_port3"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="1-5.3.3" \
, MODE="0666" \
, SYMLINK+="ttyusb_port4"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="1-5.2.1:1.1" \
, MODE="0666" \
, SYMLINK+="ttyusb_port5"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="1-5.2.2" \
, MODE="0666" \
, SYMLINK+="ttyusb_port6"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="6-2.2.3" \
, MODE="0666" \
, SYMLINK+="ttyusb_port7"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="1-5.2.3" \
, MODE="0666" \
, SYMLINK+="ttyusb_port8"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="6-2.2.1" \
, MODE="0666" \
, SYMLINK+="ttyusb_port9"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="6-2.3.3" \
, MODE="0666" \
, SYMLINK+="ttyusb_port10"

ACTION=="add" \
, KERNEL=="ttyUSB*" \
, SUBSYSTEM=="tty" \
, KERNELS=="1-4.2.1" \
, MODE="0666" \
, SYMLINK+="ttyusb_port11"
